/* Add CSS styling here */
/*add Reset*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/*border: 0;*/
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet");

/*General Styles*/

*{
    box-sizing: border-box;
    border:1px solid grey;
}

body{
    line-height:2;
    font-size:1.5rem;
}

section{
    padding:4% 0;
}

h1, h3{
  letter-spacing:3px;
  padding:4% 0;
}

header{
    height:90vh;
    background-color: #BC8F8F;
}

header nav{
    width: 100%;
    background-color: #BC8F8F;
    justify-content: space-between;
    align-items: center;
}

.links{
    color: white;
}

nav a{
    letter-spacing: 3px;
}

.links{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
#intro{
    background-color: #BC8F8F;
    display: flex;
    justify-content: center;
}

#intro .text{
    background-color: #BC8F8F;
    text-align: center;
    width: 80%;
}
.text p{
    text-align: center;
}

#secondpar{
    background-color: whitesmoke;
}

#secondpar h3{
    text-align: center;
    padding: 3% 0;
}

#secondpar .class{
    display: flex;
    justify-content: center;
    padding: 1%;
}

img{
    height:30%;
    width:50%;
}

footer{
    background-color: #BC8F8F;
    color: white;
    text-align: center;
}
.contact{
    display: flex;
    justify-content: center;
}
button{
    width:100%;
    background-color: #BC8F8F;
    border: 2px solid whitesmoke;
    color: white;
    margin-bottom: 3%;
}
button:hover{
    background-color: whitesmoke;
    color: #BC8F8F;
    border: 2px solid #BC8F8F;
}
.fa-instagram{
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}